{% extends 'mainapp/base.html'%}
{% load static %}

{% block 'content' %}
<div class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="hero-text">
                    <img src="{% static 'img/mech.png' %}" style="width: 70%;">
                    <p>
                        АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ ДОПОЛНИТЕЛЬНОГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ И ПРАВОВОГО
                        ПРОСВЕЩЕНИЯ В ОБЛАСТИ ПРАВА И ЧАСТНОЙ ОХРАННОЙ ДЕЯТЕЛЬНОСТИ
                    </p>
                    <span>Основано в 2017 г.</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image">
                    <img src="{% static 'img/weahpon.jpg' %}" alt="Hero Image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="about-img">
                    <img src="{% static 'img/about-us.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="section-header text-left">
                    <h2>О нас</h2>
                </div>
                <div class="about-text">
                    <p>
                        АНО ДПО ПП ЧОД «ЩИТ И МЕЧ» на основании Лицензии № Л035-01264-04/00174124 от 25.08.201,
                        осуществляет образовательную деятельность по подготовке частных охранников по согласованным с
                        Росгвардией программам дополнительного профессионального обучения.

                    </p>
                    <p>
                        АНО ДПО ПП ЧОД «ЩИТ И МЕЧ» является членом ФКЦ
                        РОС(Федеральный координационный центр руководителей охранных структур), членом ФКЦ РООР
                        Республики Алтай, ведет деятельность в области правового просвещения, соответственно понимает
                        насколько нужна и важна подготовка кадров для охранных структур.
                    </p>
                    <div class="FAQ" style="">
                        <a href="#hide2" class="hide btn" id="hide2">Узнать подробнее</a>
                        <div class="list">
                            <p>
                                Услуги: повышение квалификации частным охранникам 4, 5 и 6 разрядов, что актуально для
                                продления срока действия удостоверения (это регламентируется Приказом МВД РФ от 29
                                сентября 2011 г., № 1039).
                                Дополнительно осуществляет образовательную деятельность по повышению квалификации
                                представителей руководящего состава частных охранных структур – директоров ЧОО.
                                Порядок поступления на обучение:
                                Прием обучающихся в группу происходит на договорной основе, на основании заявления на
                                имя директора (АНО ДПО ПП ЧОД «ЩИТ И МЕЧ»), с предоставлением анкетных данных.
                                Зачисленные приказом директора учреждения в группу обучающиеся, проходят обучение, в
                                соответствии с планом утвержденных учебных программ сдают экзамены, зачеты, проходят
                                промежуточную и итоговую аттестацию в форме квалификационного экзамена и получают
                                свидетельства установленного образца.
                                АНО ДПО ПП ЧОД «ЩИТ И МЕЧ»– имеет свою материально-техническую базу для подготовки
                                сотрудников охраны.
                            </p>
                        </div>
                        <a href="#show2" class="show btn default-show" id="show2">Скрыть</a>
                        <div class="question"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="banner">
    <div class="banner-item back-beige">
        <img class="banner-img" src="{% static 'img/schedue.png' %}" alt="Image">
        <h1 class="top-len">Оптимальный график посещения</h1>
        <p class="color-red descr-p">Обучение проходит в удобное для вас время:<br> с отрывом и без отрыва от трудовой
            деятельности</p>
    </div>
    <div class="banner-item back-red">
        <img class="banner-img" src="{% static 'img/experience.png' %}" alt="Image">
        <h1 class="top-len color-beige">Опыт обучения более 15 лет</h1>
        <p class="color-beige descr-p">Занятия в Центре проводят педагоги с большим опытом практической
            деятельности</p>
    </div>
    <div class="banner-item back-beige">
        <img class="banner-img" src="{% static 'img/location.png' %}" alt="Image">
        <h1 class="top-len">Удобное месторасположение</h1>
        <p class="color-red descr-p">649000, Республика&nbsp;Алтай,<br> г.Горно-Алтайск, ул.Кучияк, д.7</p>
    </div>
    <div class="banner-item back-red">
        <img class="banner-img" src="{% static 'img/quality.png' %}" alt="Image">
        <h1 class="top-len color-beige">Качественное обучение</h1>
        <p class="color-beige descr-p">Разработанные программы, соответствуют всем современным стандартам</p>
    </div>
</div>


<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <h2>Наши услуги</h2>
            <p>ПЛАТНЫЕ ОБРАЗОВАТЕЛЬНЫЕ УСЛУГИ</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/privat.jpg' %}" alt="Image">
                    </div>
                    <h3 class="height-h">Повышение квалификации частным охранникам</h3>
                    <p class="height-p">
                        Актуально для продления срока действия удостоверения
                        (это регламентируется Приказом МВД РФ от 29 сентября 2011 г., № 1039)
                    </p>
                    <a class="btn" href="">Узнать больше</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/boss.jpg' %}" alt="Image">
                    </div>
                    <h3 class="height-h">Повышение квалификации представителей руководящего состава </h3>
                    <p class="height-p">
                        Дополнительно осуществляет образовательную деятельность по повышению
                        квалификации представителей руководящего состава частных охранных структур – директоров ЧОО
                    </p>
                    <a class="btn" href="">Узнать больше</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/others.jpg' %}" alt="Image">
                    </div>
                    <h3 class="height-h">Другие услуги</h3>
                    <p class="height-p">
                        Предоставление материально-технической базы для прохождения охранниками обязательной
                        ПЕРИОДИЧЕСКОЙ ПРОВЕРКИ
                    </p>
                    <a class="btn" href="">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Ваше Имя"
                                       required="required" data-validation-required-message="Введите Ваше имя"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                       required="required" data-validation-required-message="Введите ваш email"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Тема"
                                       required="required" data-validation-required-message="Введите тему письма"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Сообщение" required="required"
                                          data-validation-required-message="Введите сообщение"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Отправить письмо</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}